@import '../../vars.scss';

main.checkout {
  font-size: 1rem;
  section {
    background-color: $neutral-light-100;
    padding: 2rem 3rem;
    margin: 1rem 0;
  }

  section.header {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    h1 {
      font-weight: 600;
    }
  }

  section.total {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    section.form-section {
      padding: 3rem 3rem;

      header {
        display: flex;
        align-items: center;
        margin-bottom: 3em;

        .form-title {
          display: block;
          flex: 1 0 auto;
          text-transform: uppercase;
          font-size: 2.15em;
          color: $neutral-dark-300;
          font-weight: 600;
        }

        .toggle-form {
          font-size: 1.85em;
          background: none;
          height: auto;
          cursor: pointer;
        }
      }

      .form-item {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 2em;

        label {
          text-transform: uppercase;
          color: $neutral-dark-0;
          font-weight: 500;
          font-size: 1.7em;
        }

        .input-error {
          font-size: 1.3em;
          margin: 0;
          color: $accent-error;
        }

        input {
          border: 1px solid $neutral-dark-0;
          font-size: 1.6em;
          padding: 0.6em 0.8rem;
          color: $neutral-dark-300;

          &.error-border {
            border: 1px solid $accent-error;
            box-shadow: 0 0 0.05em $accent-error;
          }

          &:focus {
            border-color: $accent-blue;
            box-shadow: 0 0 0.05em $accent-blue;
          }
        }

        .split-inputs {
          display: flex;
          width: 100%;
          gap: 1em;

          input {
            flex: 0 1 50%;
            width: 100%;
          }
        }
      }
    }

    section.submit-form {
      button {
        background: $accent-green;
        font-size: 2em;
        width: 100%;
        padding: 1em 0;
        color: $neutral-light-100;
        border: none;
      }
    }
  }
}
