.form-wrap {
  background-color: #fff;
  padding: 2rem;
  margin-top: 1rem;
}

.form-wrap-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrap-full-height {
  height: 100%;
}
