@import '../vars.scss';

.navbar {
  width: 100%;
  background-color: $neutral-dark;
  color: $neutral-light;

  .search-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $neutral-light-700;
    padding-top: 5rem;
    z-index: 999;

    .close-modal {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5em;
      background: transparent;
      z-index: 999;
    }
  }

  .container {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding-block: 0.5em;

    .logo {
      flex: 1 0 auto;
      font-size: 1.4em;
      color: inherit;
    }

    .search-bar {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      background: $neutral-light;
      color: $neutral-dark;
      border-radius: 10em;
      overflow: hidden;

      * {
        background-color: inherit;
        color: inherit;
      }

      input,
      .search-icon {
        display: block;
      }

      input {
        flex: 1 1 100%;
        height: 100%;
        padding: 1em 1.5em;
      }

      .search-icon {
        flex: 1 1 auto;
        display: grid;
        place-items: center;
        font-size: 1em;
        padding-inline: 0.5em;
        height: 100%;

        .icon {
          font-size: 1.25em;
        }
      }
    }

    .icons {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      font-size: 1.3em;
      justify-content: flex-end;
      gap: 0.5em;

      .icon {
        cursor: pointer;
      }
    }
  }
}
