@import '../../vars.scss';

main {
  font-size: 1rem;
  position: relative;

  &.modal-open {
    height: 100vh;
    overflow: hidden;
    flex: none !important;
  }

  .header {
    text-align: center;

    .title {
      padding: 1em 0;
      font-size: 3em;
      font-weight: 600;
      text-transform: capitalize;
    }

    .filter-sort-section {
      background-color: $neutral-light-700;
      width: 100%;
      display: flex;

      .filter,
      .sort {
        display: block;
        flex: 1 0 50%;
        font-size: 1.55rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.75em 0;
        border-style: solid;
        border-color: $neutral-light-900;
        border-top-width: 0.05em;
        border-bottom-width: 0.05em;
        color: $neutral-dark-100;
        position: relative;

        &:last-of-type {
          &::before {
            height: 50%;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0.05em;
            background-color: $neutral-light-900;
          }
        }
      }

      .sort {
        display: flex;
        align-items: center;
        justify-content: center;

        select {
          text-transform: uppercase;
          color: inherit;
          appearance: none;
          border: 0;
          outline: 0;
          font: inherit;
          /* Personalize */
          height: 100%;
          width: 90%;
          background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg)
            no-repeat right 0.8em center / 1.4em;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }

  .items {
    margin: 1rem 0;

    .items-found {
      font-size: 1.35rem;
      font-weight: 300;
      text-align: center;
      margin: 1em 0;
    }

    .load-more-btn {
      text-align: center;

      p {
        font-size: 1.2rem;
      }
    }

    .item-cards-container {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      gap: 1rem;
      justify-content: center;
      font-size: 1.25rem;
      line-height: 1.2;

      @media screen and (min-width: $screen-size-m) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and (min-width: $screen-size-l) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
