.welcome-container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.welcome-message {
  text-align: left;
  animation: moveCenter 1.25s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes moveCenter {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

.mt-1 {
  margin-top: 1rem;
}
