@import '../../../vars.scss';

.filter-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: flex;

  .close-modal {
    background-color: #0005;
    flex: 0 0 auto;
    // text-align: center;

    .close-icon {
      font-size: 5rem;
      color: rgba($neutral-light, 0.75);
      margin: 0.25em;
    }

    @media screen and (min-width: $screen-size-s) {
      flex: 1 0 auto;
    }
  }
  .modal-content {
    background-color: $neutral-light-300;
    flex: 1 1 90%;
    overflow-y: scroll;

    @media screen and (min-width: $screen-size-s) {
      flex: 0 1 50rem;
    }
  }

  .filter-options-container {
    min-height: 100%;
    overflow: scroll;
  }

  .modal-title,
  .filter-option-title,
  .filter-option {
    padding: 1em 1.5rem;
  }

  .filter-option-title,
  .filter-option {
    margin: 0;
  }

  .modal-title,
  .filter-option-title {
    background: $neutral-light-100;
  }

  .filter-option-title {
    text-transform: capitalize;
    font-size: 1.8rem;
    color: $neutral-dark-200;
  }

  .filter-option {
    text-transform: lowercase;
    font-size: 1.6rem;
    padding-block: 0.5em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &-checked {
      background-color: $neutral-light-900;
      font-weight: 500;
    }
  }

  .modal-title {
    margin-bottom: 0.5em;
    font-size: 2rem;

    h2 {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
