@import '../../vars.scss';

main {
  margin: 0 0 1rem 0;
  .container {
    @media screen and (max-width: $screen-size-s) {
      padding: 0 1rem;
    }
  }

  font-size: 1rem;
  .item-image-container {
    width: 100%;

    .item-img {
      max-width: 100%;
      height: auto;
    }
  }

  p {
    font-size: 1.4em;
    color: $neutral-dark-0;
    margin: 1rem 0;
  }

  strong {
    text-transform: uppercase;
  }

  .item-title {
    font-size: 2.7em;
    font-weight: 300;
    margin: 0.6em 0;
    color: $neutral-dark-100;
  }

  .item-price {
    line-height: 1.5;
    font-size: 1.8em;
    font-weight: 700;
  }

  .item-color {
    margin-bottom: 2em;
    text-transform: capitalize;
  }

  .item-size {
    &-error {
      background-color: #f001;
      color: #600;
      padding: 1em 1rem;
    }

    strong {
      display: block;
      margin-bottom: 0.5em;
    }

    select {
      display: block;
      width: 100%;
      border: 1px solid $neutral-light-900;
      font-size: 1.6rem;
      padding: 0.5em 0.5rem;
      position: relative;
      text-transform: uppercase;
      color: $neutral-dark-0;

      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #f00 transparent transparent transparent;
      }
    }
  }

  .item-description {
    margin: 2em 0;
    font-size: 1rem;

    &-text {
      color: $neutral-dark-200;
    }
  }

  .added-to-cart-notification {
    color: $neutral-dark-300;
    background-color: rgba($neutral-dark-0, 0.2);
    margin-bottom: 1em;
    font-size: 1.5rem;
    padding: 1em 1rem;
  }
}
