@import '../vars.scss';

.btn {
  display: inline-block;
  background-color: $neutral-light;
  color: $neutral-dark;
  font-size: 1.4rem;
  border: 0.2rem solid $neutral-dark;
  padding: 1.5em 3rem;
  transition: all 0.25s ease;
  line-height: 1;

  &[disabled] {
    background-color: $neutral-light-900;
    border: 0.2rem solid $neutral-dark-0;
    cursor: not-allowed;
  }

  &:hover,
  &:active {
    background-color: $neutral-dark;
    color: $neutral-light;
    border-color: $neutral-light;

    &[disabled] {
      border: 0.2rem solid $neutral-dark-0;
    }
  }

  &-dark {
    background-color: $neutral-dark;
    color: $neutral-light;

    &:hover,
    &:active {
      background-color: $neutral-light;
      color: $neutral-dark;
      border-color: $neutral-dark;

      &[disabled] {
        color: $neutral-light;
      }
    }

    &[disabled] {
      background-color: $neutral-dark-0;
      color: $neutral-light;
    }
  }

  &-s {
    font-size: 1rem;
    padding: 0.75em 3rem;
  }
  &-m {
    font-size: 1.4rem;
    padding: 0.75em 3.4rem;
  }
  &-l {
    font-size: 2rem;
    padding: 0.75em 4rem;
  }

  &-block {
    width: 100%;
  }

  &-loading {
    .loading-icon {
      animation: rotate-center 0.6s ease-in-out infinite both;
      @keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
}
