@import '../vars.scss';

.cards {
  font-size: 4rem;
  padding: 0 0 0.5em 0;
  margin: 0.5em 0;
  user-select: none;

  @media screen and (max-width: $screen-size-s) {
    font-size: 3rem;
  }

  @media screen and (max-width: $screen-size-xs) {
    font-size: 2.6rem;
  }

  h2 {
    font-weight: 700;
    text-align: center;
    // line-height: 3;
    padding: 1em;
    // margin-bottom: 1em;
  }

  .cards-container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: center;
  }
}
