@import '../vars.scss';

.card {
  display: block;
  text-transform: capitalize;
  transition: transform 0.25s ease;
  background-color: $neutral-dark;
  color: $neutral-light-300;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &-dark {
    background-color: $neutral-light-300;
    color: $neutral-dark;
  }

  .card-image-container {
    width: 100%;
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $neutral-light-300;
    color: $neutral-dark;

    img {
      max-height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .card-text {
    font-size: 0.75em;
    font-weight: 600;
    text-align: center;
    padding-block: 1em;
  }

  &.card-skeleton {
    width: 100%;
    background: none;
    .card-image-container {
      padding-bottom: 125%;
      height: auto;
      animation: loadLight 1s linear infinite alternate;
      margin-bottom: 0;
      border-radius: 0.5rem;
      @keyframes loadLight {
        0% {
          background-color: $loading-light-100;
        }
        100% {
          background-color: $loading-light-0;
        }
      }
    }

    .card-text {
      padding: 1rem;
      margin: 2rem;
      border-radius: 0.5rem;
      animation: loadLight 1s linear infinite alternate;
    }

    &.card-dark {
      .card-image-container {
        padding-bottom: 125%;
        height: auto;
        animation: loadDark 1s linear infinite alternate;
        margin-bottom: 0;
        border-radius: 0.5rem;
        @keyframes loadLight {
          0% {
            background-color: $loading-light-100;
          }
          100% {
            background-color: $loading-light-0;
          }
        }
      }

      .card-text {
        padding: 1rem;
        margin: 2rem;
        border-radius: 0.5rem;
        animation: loadDark 1s linear infinite alternate;
      }

      @keyframes loadDark {
        0% {
          background-color: $loading-dark-100;
        }
        100% {
          background-color: $loading-dark-0;
        }
      }
    }
  }
}
