// colors
// lights
$neutral-light-100: #ffffff;
$neutral-light-300: #f8f8f8;
$neutral-light: #f7f7f7;
$neutral-light-600: #f3f3f3;
$neutral-light-700: #f1f1f1;
$neutral-light-800: #eeeeee;
$neutral-light-900: #dfdfdf;

// darks
$neutral-dark-0: #525252;
$neutral-dark-100: #3f3f3f;
$neutral-dark-200: #2a2a2a;
$neutral-dark-300: #222222;
$neutral-dark: #212121;

// screen sizes
$screen-size-s: 650px;
