@import '../../vars.scss';

main {
  font-size: 1rem;
  .container {
    .hero {
      background-color: $neutral-light;
      color: $neutral-dark;
      text-align: center;
      font-size: 1.7rem;
      padding: 8em 1em;

      h1 {
        font-size: 4em;
        margin-bottom: 0.7em;
        line-height: 1.2;
      }

      .btn {
        margin: 0 auto;
      }
    }
  }

  .categories-wrapper {
    background-color: $neutral-dark;
  }
}
