@import '../../vars.scss';

main {
  font-size: 1rem;

  .header {
    text-align: center;
    // background-color: #f005;

    .title {
      padding: 1em 0;
      font-size: 3em;
      font-weight: 600;
      text-transform: capitalize;
    }

    .filter-sort-section {
      background-color: $neutral-light-700;
      width: 100%;
      display: flex;

      .filter,
      .sort {
        display: block;
        flex: 1 0 auto;
        font-size: 1.55rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.75em 0;
        border-style: solid;
        border-color: $neutral-light-900;
        border-top-width: 0.05em;
        border-bottom-width: 0.05em;
        color: $neutral-dark-100;
        position: relative;

        &:last-of-type {
          &::before {
            height: 50%;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0.05em;
            background-color: $neutral-light-900;
          }
        }
      }

      .sort {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .items {
    margin: 1rem 0;

    .items-found {
      font-size: 1.35rem;
      font-weight: 300;
      text-align: center;
      margin: 1em 0;
    }

    .item-cards-container {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      gap: 1rem;
      justify-content: center;
      font-size: 1.25rem;
      line-height: 1.2;

      .item-card {
        display: block;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: $neutral-dark-0;

        &-image-container {
          width: 100%;
          flex: 1 1 auto;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: $neutral-light-300;
          color: $neutral-dark;

          img {
            max-height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

        &-title {
          margin: 1rem 0;
          font-size: 1.05em;
          color: $neutral-dark;
        }

        &-color,
        &-price {
          text-transform: lowercase;
        }

        &-color {
          font-size: 0.95em;
          margin-bottom: 1rem;
        }

        &-price {
          font-weight: 700;
          margin-bottom: 2.5em;
          font-size: 1.1em;
        }
      }
    }
  }
}
